ENABLE_EMAIL_CONFIRMATIONS=false
ENABLE_WHATSAPP_CONFIRMATIONS=false

RESEND_API_KEY=
CONFIRMATION_EMAIL_FROM=VantaFrame <bookings@yourdomain.com>

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=+14155238886
TWILIO_CONTENT_SID=
